<div class = "comment-<%= comment.id %>" style="border: 1px solid black; padding: 1em; margin: 1em;">
<%= comment.user.username %><br />

<% if current_user == comment.user%>
   <div class="btn-group float-end">
    <%= link_to t("edit"), nil, remote: true, class: "btn btn-success",
    data: {
       controller: "comments",
       action: "comments#toggleForm",
       comments_form_param: "edit-form-#{comment.id}",
       comments_body_param: "comment-body-#{comment.id}",
       comments_edit_param: "edit-button-#{comment.id}",
       edit: t("edit"),
       cancel: t("cancel")
    },
     id: "edit-button-#{comment.id}"%>
    <%= button_to t("delete"),[post,comment], class: "btn btn-danger", method: :delete%>

    </div> 
    <div id="edit-form-<%=comment.id%>" class = "d-none">
    <%= render 'comment/form', 
    post: @post , 
    comment: comment,
    submit_label: t("edit") %>
    </div>
<%end%>
<hr />
<div class="card">
  <div class="card-header">
   <% if(comment.updated_at - comment.created_at) > 1%>
   <span> <%=t(:edited)%> <%= time_ago_in_words(comment.updated_at) %> </span>
<%else%>
   <span> <%=t(:commented)%> <%= t(time_ago_in_words(comment.created_at)) %></span>
<%end%>
  </div>
  <div class="card-body" id="comment-body-<%=comment.id%>">
    
    <p class="card-text"> <%= comment.body%></p>
    
  </div>
</div>

</div>
