<p style="color: green"><%= notice %></p>
  <div class= "container">
    <div class="row justify-content-md-center">
          <div class="col-8 mt-4">
            <div class="card text-center shadow mb-5 bg-white rounded">
                <h2>Sign up</h2>

                <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                      <%= devise_error_messages! %>
    <% flash.each do |key, value| %>
      <div class="flash <%= key %> text-red-700"><%= value %></div>
    <% end %>
                  
                  <div id="text" class="card-body" class="field">
                    <%= f.label :username %><br />
                    <%= f.text_field :username, autofocus: true, autocomplete: "username" %>
                  </div>

                  <div id="email" class="card-body" class="field">
                    <%= f.label :email %><br />
                    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
                  </div>

                  <div id="password" class="card-body" class="field">
                    <%= f.label :password %>
                    <% if @minimum_password_length %>
                    <em>(<%= @minimum_password_length %> characters minimum)</em>
                    <% end %><br />
                    <%= f.password_field :password, autocomplete: "new-password" %>
                  </div>

                  <div id="confirmpass" class="card-body" class="field">
                    <%= f.label :password_confirmation %><br />
                    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
                  </div>

                  <div id="signup" class="card-body" class="actions">
                    <%= f.submit "Sign up", class: "btn btn-primary" %>
                  </div>
                <% end %>

<%= render "devise/shared/links"%>
</div>
</div>
</div>
</div>