<%- if controller_name != 'sessions' %>
  <%= link_to t("sign_in"), new_session_path(resource_name), class: "btn btn-primary" %><br />
<% end %>

<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
  <%= link_to t("sign_up"), new_registration_path(resource_name), class: "btn btn-outline-primary"%><br />
<% end %>

<%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
  <%= link_to t("forgot_your_password"), new_password_path(resource_name) ,  class: "btn btn-outline-primary"%><br />
<% end %>

<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
  <%= link_to t("confirmation_instruction"), new_user_confirmation_path(:user_id => @user.id) %><br />
<% end %>

<%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
  <%= link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name) %><br />
<% end %>

<%- if devise_mapping.omniauthable? %>
  <%- resource_class.omniauth_providers.each do |provider| %>
    <p> <%= t("sign_in_with_google")%> <%= link_to  image_tag("google.png", width: 30, height:30), omniauth_authorize_path(resource_name, provider), method: :post %></p><br />
  <% end %>
<% end %>
