<div class="container">
  <h1 class="text-center"><%=t("administrator")%></h1>
  <%=render 'admin/nav_links'%>
<table class = "table table-dark table-striped">
  <thead>
  <tr>
    <th scope="col">Id</th>
    <th scope="col"><%= t("posts")%></th>
    <th scope="col"><%= t("author")%></th>
    <th scope="col"><%= t("comments")%></th>
    <th scope="col"><%= t("category")%></th>

  </tr>
  </thead>
  <tbody>
    <% @posts.each do |post|%>
    <tr>
    <th scope = "row"><%=post.id%></th>
    <td><%= link_to post.title.truncate(15), admin_post_path(post) %></td>
    <td><%= link_to post.user.username, admin_show_user_path(post.user) %></td>
    <td><%= I18n.t :comment, count: post.comments.size %></td>
    <td><%= link_to post.category.name, post.category %></td>
    </tr>
    <%end%>
  </tbody>
</table>
<%= pagy_bootstrap_nav(@pagy).html_safe%>
</div>


