<div class = 'container'>
<h1><%= t("welcome") %></h1>
  <h1><%= t("my_personal_home_page") %></h1>
  <p><%= t("more_info")%></p>
  <%=link_to t('about_me'), about_path, class: "btn btn-outline-light btn-block btn-lg gradient-custom-4" %>
  <%=link_to t('blogs'), posts_path, class:"btn btn-success btn-block btn-lg gradient-custom-4 text-body" %>
</div>
