
<div class="">
 
    <div class="row justify-content-md-center">
      <div class="col-8 mt-4">
        <div class="card text-center shadow mb-5 bg-white rounded">
          
          <div class="card-body">
          <h6 class="card-header font-italic">posted by <%=post.user.username%></h6>
           <h6 class="card-title"><%= pluralize(post.views, "view") %></h6>
           <h4 class="card-title"><%= post.title %></h4>
          <div class="card-text">
            <%= post.body %>
          </div>

          </div>
         <div class="card-footer text-muted" >
        <small>Created <%= time_ago_in_words(post.created_at) %> ago, 
        edited <%= time_ago_in_words(post.updated_at) %> ago</small>
        </div>

        </div>
      </div>
    </div>
  
</div> 