<p style="color: green"><%= notice %></p>
<div class = "container">
<%= render @post %>


<% if current_user %>
<% pre_like = @post.likes.find { |like| like.user_id == current_user.id} %>
<% if pre_like %>
 <%= button_to post_like_path(@post, pre_like), method: :delete ,class: "btn btn-danger mb-2"  do%>
   <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
  <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"></path>
</svg>
<%= @post.likes.count %> <%= (@post.likes.count) == 1 || (@post.likes.count)== 0? 'Like' : 'Likes'%>
<%end%>

<% else %>
 <%= button_to  post_likes_path(@post), method: :post, class: "btn btn-outline-danger mb-2" do%>
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
  <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"></path>
</svg>
 <%= @post.likes.count %> <%= (@post.likes.count) == 1 || (@post.likes.count)== 0? t('like'): t('likes')%>
  
<% end %>
 
<% end %>
<%end%>



<% if current_user && current_user.id == @post.user_id || current_user.admin?%>
  <%= link_to t("edit_post"), edit_post_path(@post), class: "btn btn-primary mb-2" %> <br>
  <%= button_to t("destroy_this_post"), @post, method: :delete , class: "btn btn-danger mb-2"%>
<%else%>
  <%= link_to "Back to posts", posts_path, class: "btn btn-primary" %>
 
<%end%>
<div class= "">
 <%= render 'comment/form', post: @post, comment: @post.comments.build,
   submit_label: t("comment")%>
 <% @comment.each do |comment| %>
 <%= render 'comment/comment',
  post: @post, 
  comment: comment
 %>
 <%end%>

</div><br>

<%= pagy_bootstrap_nav(@pagy).html_safe%>
</div>

