<div class= "container">
    <div class="row justify-content-md-center">
         <div class="col-8 mt-4">
            <div class="card text-center shadow mb-5 bg-white rounded">
<%= form_with(model: category) do |form| %>
  <% if category.errors.any? %>
    <div style="color: red">
      <h2><%= I18n.t :error, count: category.errors.count  %> prohibited this category from being saved:</h2>

      <ul>
        <% category.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class= "text-center">
    <%= form.label t("name"), style: "display: block" %><br>
    <%= form.text_field :name, class:" form-control-lg" %>
  </div>

  <div>
    <%= form.label t(:display_in_nav), style: "display: block" %>
    <%= form.check_box :display_in_nav %>
  </div>

  <div>
    <%= form.submit t("create_category") , class:"btn btn-success btn-block btn-lg gradient-custom-4 text-body"%>
  </div>
<% end %>
</div>
</div>
</div>
</div>