<section class="vh-100 bg-image"
  style="background-color: CadetBlue">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-19 col-lg-17 col-xl-16">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
            



<% if current_user&.admin? %>
  <%= link_to t("edit_this_category"), edit_category_path(@category), class: "btn btn-outline-success btn-block btn-lg gradient-custom-4 float-start mb-4" %> 
  <%= button_to t("destroy_this_category"), @category, method: :delete, class:"btn btn-outline-danger btn-block btn-lg gradient-custom-4 float-end",  :form_class => "btn mb-4 block p-0 float-end" %>

<%end%>
<%= render @category %>

<div class="card-body p-0 mb-4">
  <%= link_to t("back_to_categories"), categories_path,class: "btn btn-outline-success btn-block btn-lg gradient-custom-4 " %>
  
</div>
  <%= pagy_bootstrap_nav(@pagy).html_safe%>
</div>
</div>
</div>
</div>
  </div>
  </div>
</section>
