<section class="vh-100 bg-image"
  style="background-color: CadetBlue">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-15 col-md-10 col-lg-15 col-xl-20">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5"></div>
<p style="color: green"><%= notice %></p>

<h1 class="text-uppercase text-center mb-5"><%=@user.username%> <%=t('s_adresses')%></h1>
<% if (current_user&.id == @user.id  )  %>
<div  class="row justify-content-md-center" >
    <%= link_to t("Add_New_Adress"), new_place_path, class:"btn btn-success btn-block btn-lg gradient-custom-4 text-body" %>
    </div>
    <%end%>

<div id="places" class="card-body">
  <% @places.each do |place| %>
    <%= render place %>
     <div class="row md-center">
    <%= link_to t("Show_this_adress"), place , class: "btn btn-outline-success btn-block btn-lg gradient-custom-4 " %>
     </div>

    
  <% end %>

 </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>